<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.book">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Đăng nhập"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Screen.Account"
            android:exported="true" />
        <activity
            android:name=".Screen.Edit"
            android:exported="true" />
        <activity
            android:name=".Screen.ScreenNeedDelivery"
            android:exported="true" />
        <activity
            android:name=".Screen.ScreenDelivering"
            android:exported="true" />
        <activity
            android:name=".Screen.ScreenDelivered"
            android:exported="true" />
        <activity
            android:name=".Screen.ScreenCanceled"
            android:exported="true" />
        <activity
            android:name=".Screen.Failure"
            android:exported="true" />
        <activity
            android:name=".Screen.ScreenKLLD"
            android:exported="true" />
        <activity
            android:name=".Screen.ScreenTDTT"
            android:exported="true" />
        <activity
            android:name=".Screen.ScreenKH"
            android:exported="true" />
        <activity
            android:name=".Screen.ScreenConfirm"
            android:exported="true" />
        <activity
            android:name=".Screen.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screen.DetailOrder"
            android:exported="true" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>